<script setup>
import { ref } from 'vue';
import { useToast } from "vue-toastification";

const text = ref('');
const amount = ref('');

const emit = defineEmits(['transactionSubmitted'])
const toast = useToast();

const onAddTransactionSubmit = () => {
  if (!text.value || !amount.value) {
    toast.error('Both fields must be field!');
    return;
  }

  const transactionObject = {
    text: text.value,
    amount: parseFloat(amount.value)
  }

  emit('transactionSubmitted', transactionObject);

  text.value = "";
  amount.value = "";
}

</script>

<template>
  <div>
  <h3 class="font-bold pb-2 border-b border-slate-300 text-lg">Add New Transaction</h3>
  <form id="form" autocomplete="off" class="mt-2" @submit.prevent="onAddTransactionSubmit">
    <div class="form-control flex flex-col">
      <label for="text" >Text</label>
      <input type="text" id="text" v-model="text" placeholder="Enter Text.." class="px-2 py-2 border border-slate-300">
    </div>
    <div class="form-control flex flex-col">
      <label for="amount">Amount</label>
      <input type="text" id="amount" v-model="amount" placeholder="Enter Amount.." class="px-2 py-2 border border-slate-300">
    </div>
    <button class="btn bg-violet-400 text-white w-full py-2 font-bold mt-2 transition-colors duration-300 ease-in-out  hover:bg-violet-700 "> Add Transaction</button>
  </form>
  </div>
</template>