<script setup>
import { defineProps } from "vue";

const props = defineProps({
  total: {
    type: Number,
    required: true
  },
})

</script>

<template>
  <div class="mb-4">
    <h4 class="uppercase font-black text-sm text-slate-900">Your Balance</h4>
    <h1 class="uppercase font-semibold text-3xl text-slate-900">$ {{ total }}</h1>
  </div>
</template>