<script setup>
import { defineProps } from "vue";

const props = defineProps({
  income: {
    type: Number,
    required: true
  },
  expense: {
    type: Number,
    required: true
  }
})

</script>

<template>
  <div class="inc-exp-container class bg-white flex px-8 py-4 gap-6 shadow-md rounded-md mb-2 justify-center">
    <div class="income-container">
      <h4 class="uppercase font-semibold">Income</h4>
      <p class="text-green-500">$ +{{ income }}</p>
    </div>
    <div class="border border-slate-200"></div>
    <div class="expense-container">
      <h4 class="uppercase font-semibold">Expense</h4>
      <p class="text-red-500"> $ {{ expense }}</p>
    </div>
  </div>
</template>