<script setup>
import { defineProps } from 'vue';
const emit = defineEmits(['transactionDeleted']);
const props = defineProps({
  transactions: {
    type: Array,
    required: true
  }
})

const deleteTransaction = (id) => {
  emit('transactionDeleted', id)
}
</script>

<template>
  <div class="pb-4">
    <h4 class="text-left border-b border-slate-400 mb-2 pb-2 font-bold text-xl">History</h4>
    <div class="mt-5">
      <ul>
        <li v-for="transaction in transactions" 
          class="shadow-sm mb-1 transition-colors duration-300 ease-in-out relative hover:bg-rose-100 hover:text-red-700 group"
          :key="transaction.id"
          :class="transaction.amount < 0 ? 'bg-white px-2 py-2 border-r-8 border-red-600' : 'bg-white px-2 py-2 border-r-8 border-green-600'"
        >
          <div class="relative w-full flex justify-between items-center group">
            {{ transaction.text }} <span class="text-sm" :class="transaction.amount < 0 ? 'text-red-400' : 'text-green-400'"> $ {{ transaction.amount }}</span>
            <button @click="deleteTransaction(transaction.id)" class="text-md font-bold cursor-pointer rounded-md bg-red-600 text-white py-1 px-2  absolute -left-10 top-1/2 transform -translate-y-1/2 mr-2 opacity-0 group-hover:opacity-100 transition-opacity duration-500">x</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>