<script setup>
//Imports
import { ref, computed, onMounted } from 'vue';
import { useToast } from 'vue-toastification'

const toast = useToast();

//Components
import Header from './components/Header.vue';
import Balance from "./components/Balance.vue"
import IncomeExpense from "./components/IncomeExpense.vue"
import TransactionList from "./components/TransactionList.vue"
import AddTransaction from './components/AddTransaction.vue';

//Reactive Transactions 
const transactions = ref([])

//Get total BALANCE
const total = computed(() => {
  const rawTotal = transactions.value.reduce((acc, transaction) => {
    return acc + transaction.amount
  }, 0)

  return Number(rawTotal.toFixed(2));
})

//GET TOTAL INCOME
const income = computed(() => {
  return transactions.value
    .filter((transaction) => transaction.amount > 0)
    .reduce((acc, transaction) => {
      return acc + transaction.amount
    }, 0)
    .toFixed(2)
})

//GET TOTAL EXPENSES
const expense = computed(() => {
  return transactions.value 
    .filter((transaction) => transaction.amount < 0) 
    .reduce((acc, transaction) => {
      return acc + transaction.amount
    }, 0)
    .toFixed(2)
})

//Get Submitted Transaction
const handleTransctionSubmitted = (transactionObject) => {
  transactions.value.push({
    id: generateUniqueId(),
    text: transactionObject.text,
    amount: transactionObject.amount
  })
  saveToLocalStorage();
  toast.success("Transaction Added!");
}

// Delete Transactions
const handleTransactionDElete = (transactionId) => {
  transactions.value = transactions.value.filter(
    (transaction) => transaction.id !== transactionId
  )
  saveToLocalStorage();
  toast.success('Transaction Deleted!')
}

const generateUniqueId = () => {
  return Math.floor(Math.random() * 100000)
}

//Get LocalStorage Items
onMounted(() => {
  const localTransactions = JSON.parse(localStorage.getItem('transactions'))

  if (localTransactions) {
    transactions.value = localTransactions
  }
})


//Save to LocalStorage
const saveToLocalStorage = () => {
  localStorage.setItem('transactions', JSON.stringify(transactions.value));
}
</script>

<template>
  <div class="bg-slate-100 min-h-dvh font-lato flex flex-col items-center justify-center min-w-4/5">
    <div class="min-w-[300px]">
      <Header/>
      <Balance :total="+total"/>
      <IncomeExpense :income="+income" :expense="+expense"/>
      <TransactionList :transactions="transactions" @transactionDeleted="handleTransactionDElete"/>
      <AddTransaction @transactionSubmitted="handleTransctionSubmitted" />
    </div>
  </div>
</template>

